The resources returned by the /Schemas endpoint lack "schemas": ["urn:ietf:params:scim:schemas:core:2.0:Schema"]

Hi,

while trying to set up a SCIM 2.0 integration, I used Scimple implementation and came across a weird behavior. With my Spring app integrated with Scimple and using a third-party Keycloak extension as a SCIM client, the following issue appeared (keycloak log):
```
Http GET request /ServiceProviderConfig
Http GET request /ResourceTypes
Http GET request /Schemas
Got SCIM Implementation Details
2026-01-27 09:32:35,286 ERROR [dev.suvera.keycloak.scim2.storage.storage.ScimClient2] (executor-thread-11) Scim2ClientBuilder failed: dev.suvera.scim2.schema.ex.ScimException: Empty schemas attribute found for Schemas, Expected value is one of [urn:ietf:params:scim:schemas:core:2.0:Schema]
```

This brought me to the SCIM 2.0 specification ([RFC 7643, Section 7](https://datatracker.ietf.org/doc/html/rfc7643#section-7)), which states that Schema resources:
> These resources have a "schemas" attribute with the following schema URI:
>       urn:ietf:params:scim:schemas:core:2.0:Schema

It looks like the resources returned by the /Schemas endpoint lack "schemas": ["urn:ietf:params:scim:schemas:core:2.0:Schema"].

In the Scimple code, I can see that the [Schema class](https://github.com/apache/directory-scimple/blob/develop/scim-spec/scim-spec-schema/src/main/java/org/apache/directory/scim/spec/schema/Schema.java) implements only AttributeContainer, not ScimResource or BaseResource, where the schemas field originally comes from.

My /Schemas response result:
```
{
    "totalResults": 1,
    "startIndex": 1,
    "itemsPerPage": 1,
    "schemas": [
        "urn:ietf:params:scim:api:messages:2.0:ListResponse"
    ],
    "Resources": [
        {
            "id": "urn:ietf:params:scim:schemas:core:2.0:User",
            "name": "User",
            "description": "Top level ScimUser",
            "attributes": [
                ...
            ],
            "meta": {
                "resourceType": "Schema",
                "location": "http://localhost:8090/api/scim/v2/Schemas/urn:ietf:params:scim:schemas:core:2.0:User"
            }
        }
    ]
}
```

Expected /Schemas response result:
```
{
    "totalResults": 1,
    "startIndex": 1,
    "itemsPerPage": 1,
    "schemas": [
        "urn:ietf:params:scim:api:messages:2.0:ListResponse"
    ],
    "Resources": [
        {
            "id": "urn:ietf:params:scim:schemas:core:2.0:User",
            "name": "User",
            "description": "Top level ScimUser",
            "attributes": [
                ...
            ],
            "meta": {
                "resourceType": "Schema",
                "location": "http://localhost:8090/api/scim/v2/Schemas/urn:ietf:params:scim:schemas:core:2.0:User"
            },
            "schemas": [
                "urn:ietf:params:scim:schemas:core:2.0:Schema"
            ]
        }
    ]
}
```

What’s your perspective on this?

Regards,
Łukasz

@lukaszldev I just dug through the specs, and you are right.
It's an interesting case, because these schemas ARE know by the client/servers but, but it's in the RFC, so it's a bug.

I have a fix locally, but I need to get the tests to pass on a couple of edge cases.

Great find!
Thank you for reporting!

@lukaszldev Can you give the code in this PR a test and see if you hit any other issues.
Schema will contain a `schema` attribute and
Schema, ResourceType, and ServiceProviderConfiguration, will now all be returned from the the /Schemas endpoint

I tested the version committed as [38e621d](https://github.com/apache/directory-scimple/commit/38e621df3ce880dbead67283c6b6b4d66f5c0529), and the issue is gone. Schema objects now have the `schemas` attribute. Additionally, the previously missing schemas for `Schema, ResourceType, and ServiceProviderConfiguration` are now present (it was another pain).

I have a question, the latest officially published Scimple version on [Apache Directory](https://directory.apache.org/scimple/) is `1.0.0-M1`, but it seems to be behind the current development branch. Are you planning to release a newer version soon (artifacts)?

Either way, my integration has progressed further. Thank you, and have a nice day.

Regards,
Łukasz

Thanks for the update @lukaszldev!

As far as the release, it's been planned for a bit now, but there have been a couple of (minor) breaking changes (for the good), But there is an effort by the whole Directory team to get a round of releases out soon.

@bdemers Could you please share any details about potential SCIMple release(s)? When can we expect a new version?

Thanks,
Łukasz